RUN_ADDRESS=localhost:8080
READ_TIMEOUT=30s
WRITE_TIMEOUT=30s
DATABASE_URI=postgres://postgres:password@localhost:5432/custodia?sslmode=disable
COOKIE_SECRET=<replace-with-secret-key>
CERT_PATH=server.pem
KEY_PATH=server.key
# FORCE_MIGRATIONS=true