RUN_ADDRESS=localhost:8080
READ_TIMEOUT=30s
WRITE_TIMEOUT=30s
DATABASE_URI=postgres://postgres:password@localhost:5432/custodia?sslmode=disable
COOKIE_SECRET=123456789
ENABLE_HTTPS=true
# FORCE_MIGRATIONS=true